.App {
  text-align: left;
  font-size: 12px;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  background-color: #1B2D4E;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  list-style-type: none;
  padding: 0;
}

ul > li {
  margin-left: 20px;
  position: relative;
}

ul > li:before {
  /* content: "";
  position: absolute;
  left: -20px;
  top: 10px;
  width: 10px;
  border-left: 2px solid #000; */
}

ul > li:after {
  content: "";
  position: absolute;
  left: -18px;
  top: 10px;
  height: 20px;
  border-bottom: 2px solid #000;
}

ul > li:last-child:after {
  height: 10px;
}

.metadata-container {
  /* padding: 20px; */
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 40px;
}

.metadata-container > .tree {
  margin: 20px;
  /* background-color: rgba(255, 255, 255, 0.1); */
  background-color: #161d32;
  /* max-width: 260px; */
}

.metadata-item {
  padding: 40px;
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  display: grid;
  grid-template-columns: 1fr;
  border: 1px solid #161d32;
  border-radius: 4px;
}

.metadata-item.parent-card {
  color: #161d32;
}

.metadata-item > div {
  /* margin: 10px;
  display: grid;
  grid-template-columns: 1fr 4fr; */
  padding: 2px;
  box-sizing: border-box;
}

.form-control {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: 0 .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control-ht:hover {
  background-color: #1f4167;
  color: #fff;
}

.form-control-ht {
  color: #fff;
  background-color: #161d32;
  border: 1px solid rgba(147, 209, 255, .25);
}

.font-weight-bold {
  font-weight: 700 !important;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 14px;
}

label.error {
  color: red;
}

.error-text {
  color: #C12A47;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  width: 100%;
  box-sizing: border-box;
  margin-top: 8px;
}

.p-3 {
  padding: 1rem !important;
}

.rounded {
  border-radius: 0.25rem !important;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.hidden {
  display: none !important;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.navigation-tree {
  /* margin-left: 20px; */
  overflow-x: scroll;
  /* max-width: 240px; */
}

.navigation-tree * .row {
  /* background-color: pink; */
  /* max-width: 2000px;
  min-width: 600px; */
  display: flex;
  justify-content: flex-start;
}

.navigation-tree * .row.selected {
  background-color: rgba(255, 255, 255, .48);
  color: #161d32 !important;
  font-weight: bold;
}

.navigation-tree * .row.parent-selected {
  background-color: rgba(0, 0, 0, .125);
}

.navigation-tree * button {
  border-style: none;
  padding: 8px;
  background-color: inherit;
  text-align: left;
  color: inherit;
  font-size: 14px;
  font-weight: inherit
  /* max-width: 1900px;
  min-width: 560px; */
  /* box-sizing: border-box; */
}

.navigation-tree * button.navigate {
  /* background-color: pink; */
  /* width: 2000px; */
  width: 100%;
}

.navigation-tree * button.expand {
  /* background-color: pink; */
  width: 24px;
}

.navigation-tree * .row:hover {
  background-color: #1f4167;
}

.navigation-tree * ul {
  padding-left: 10px;
}

.navigation-tree * li {
  display: inline-block;
  width: -webkit-fill-available;
}

.full-width {
  width: 100%;
}

/* Vertical line for collapsing */

ul.collapsible {
  list-style: none;
  padding-left: 20px;
  position: relative;
  padding: 0;
  margin: 0;
}

ul.collapsible ul {
  list-style: none;
  padding-left: 20px;
  position: relative;
}

ul.collapsible li {
  position: relative;
}

ul.collapsible li::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: -12px;
  width: 1px;
  background: rgba(147, 209, 255, .25);
}

ul.collapsible li:last-child::before {
  /* height: 50%;
  top: 0; */
}

ul.collapsible li ul::before {
  /* content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: -12px;
  width: 1px;
  background: rgba(147, 209, 255, .25); */
}

/* Vertical line for collapsing */