$ht-color-primary-med-blue: #1F4167;
$ht-color-primary-orange: #FF715B;
$ht-color-primary-dark-blue: #1B2D4E;
$ht-color-primary-deep-blue: #1F2840;
$ht-color-primary-black: #161D32;
$ht-color-secondary-bright-blue: #025B9D;
$ht-color-secondary-light-blue: rgba(147, 209, 255, 1);
$ht-color-secondary-light-blue-opacity25: rgba(147, 209, 255, .25);
$ht-color-secondary-dark-gray: #8E8E8E;
$ht-color-secondary-bg-slider: #EDF6FF;
$ht-color-secondary-light-gray: #EFEFEF;
$ht-color-secondary-white: #fff;
$ht-color-error: #C12A47;
$ht-color-success: #1EA896;